@use '../base/' as *;

.question-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  height: 100vh;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}
.guide {
  color: $white;
  font-size: 18px;
  margin-bottom: 20px;
}
.form {
  width: 100%;
  .question-textarea {
    margin-bottom: 50px;
    display: block;
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    resize: none;
  }
  .add-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
.question-button {
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  border: none;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $dark-gray;
  font-size: 20px;
  font-weight: 700;
  &:first-child:disabled {
    opacity: 0.6;
  }
}

.navigation {
  margin-top: 20px;
  width: 100%;
}
