@forward './common';
@use '../base' as *;

.hidden {
  visibility: hidden !important;
}

.container {
  overflow-y: auto;
}

/*mobile first*/
/*=== 면접 정보 설정 ===*/
.interview-set {
  display: flex;
  flex-direction: column;
  padding: 28px;

  @include desktop {
    padding-top: 70px;

    &__up {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__info {
    @include desktop {
      width: 40%;
    }
    &--title {
      @include desktop {
        font-size: 24px;
        margin-top: 20px;
        &.first {
          margin-top: 0;
        }
      }
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &--category-select,
    &--time-select {
      width: 100%;
      height: 40px;
      padding: 10px;
      background-color: #f6f6f6;
      border-radius: 3px;
      border: none;
      margin-bottom: 22px;
    }

    &--count {
      &-input {
        border-radius: 3px;
        background-color: #f6f6f6;
        border: none;
        width: 100%;
        height: 40px;
        padding: 10px;
        margin-bottom: 22px;
      }
    }
  }

  &__notice {
    width: 100%;
    margin-top: 16px;
    line-height: 18.75px;
    font-weight: 400;
    text-align: center;
    &--selected {
      margin-bottom: 10px;
    }
  }
}

/*=== 카메라, 오디오 권한 환경 설정 ====*/
.permission-check {
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 40%;
    margin-left: 20px;
  }

  &__title {
    @include desktop {
      font-size: 24px;
    }

    font-size: 16px;
    font-weight: 700;
    margin-bottom: 22px;
  }

  &__video {
    display: flex;
    max-width: 550px;
    height: 300px;
    overflow: hidden;
    margin-top: 17px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 10px;

    &--cam {
      width: 1280px;
      height: 720px;
      // border-radius: 10px;
    }
  }

  &__audio {
    max-width: 550px;
    height: 100px;

    &--visualization {
      width: 100%;
      height: 100px;
      // height: -200%;
    }
  }
}

/*=== 면접 가이드 & 시작하기 ===*/
.interview-start {
  display: flex;
  margin-top: 60px;
  margin-bottom: 17px;
  justify-content: center;

  &__button {
    width: 186px;
    height: 58px;
    background-color: $main;
    color: $white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: none;

    @include desktop {
      width: 40%;
      height: 72px;
      font-size: 28px;
    }

    &:disabled {
      border: 3px solid $light-gray;
      background: $white;
      color: $light-gray;
      font-weight: 700;
    }
  }
}

/*=== 모달 ===*/
.modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: block;
  }
}

.modal-container {
  @include desktop {
    top: 20%;
    padding: 35px 85px;
  }
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 670px;
  min-height: 482px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.5);
  justify-content: center;

  &__counter {
    font-size: 48px;
    font-weight: 600;
    color: $dark-gray;
    text-align: center;
  }

  &__title {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 27px;
    color: $dark-gray;
  }

  &__content {
    line-height: 1.5;
    font-size: 16px;
    color: $dark-gray;
    margin-bottom: 10px;
  }

  &__guide {
    font-size: 16px;
    font-weight: 400;
    color: $dark-gray;
    text-align: center;
    line-height: 35px;
    margin-top: 40px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
  }

  &__start {
    padding: 18px 32px;
    border-radius: 10px;
    background-color: $main;
    margin-top: 40px;
    max-width: 142px;
    color: white;
    align-self: center;
    font-size: 20px;
    font-weight: 700px;
    border: 3px solid $main;

    &:disabled {
      border: 3px solid $light-gray;
      background: $white;
      color: $light-gray;
      margin-top: 40px;
    }
  }
}
