@forward './common';
@use '../base' as *;

.container {
  padding: 28px;
  overflow-y: scroll;
}

input {
  border-radius: 3px;
  background-color: #f6f6f6;
  border: none;
  width: 100%;
  height: 40px;
  padding: 10px;
}

.interview {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 10px;
  border: none;
}

h3 {
  margin-bottom: 8px;
}

.interview-setting {
  @include desktop {
    width: 60%;
  }

  &__all {
    @include desktop {
      display: flex;
      justify-content: space-around;
    }
  }

  &__kind,
  &__cnt,
  &__time {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
  }

  &__kind select,
  &__time select {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px;
    border: none;
  }

  &__check {
    @include desktop {
      width: 40%;
      margin-left: 30px;
    }
    display: flex;
    flex-direction: column;

    span {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--btn {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      align-self: center;

      &-icamera {
        width: 46px;
        height: 41px;
        background-image: url('/src/img/camera.png');
        background-size: cover;
        display: inline-block;
      }

      &-iaudio {
        width: 40px;
        height: 51px;
        background-image: url('/src/img/audio.png');
        background-size: cover;
        display: inline-block;
      }

      &-camera,
      &-audio {
        background-color: $main;
        min-width: 90px;
        height: 100px;
      }

      &-camera {
        margin-right: 30px;
      }
    }
  }

  &__start {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    margin-bottom: 17px;

    & button {
      width: 70%;
      height: 58px;
      background-color: $main;
      color: $white;
      font-size: 20px;
      font-weight: 700;

      @include desktop {
        width: 40%;
        height: 72px;
        font-size: 28px;
      }

      &:disabled {
        border: 3px solid $light-gray;
        background: $white;
        color: $light-gray;
        font-weight: 700;
      }
    }
  }

  &__info {
    margin-top: 54px;
    text-align: center;
  }

  &__comment {
    margin-top: 22px;
    text-align: center;
  }
}

.modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: block;
  }
}

.modal__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 670px;
  min-height: 482px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.5);
  justify-content: center;

  @include desktop {
    top: 20%;
    padding: 35px 85px;
  }

  &--timer {
    font-size: 48px;
    font-weight: 600;
    color: $dark-gray;
    text-align: center;
  }

  &--title {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    color: $dark-gray;
  }

  &--content {
    line-height: 1.5;
    font-size: 16px;
    color: $dark-gray;
    margin-bottom: 10px;
  }

  &--guide {
    font-size: 16px;
    font-weight: 400;
    color: $dark-gray;
    text-align: center;
    line-height: 35px;
    margin-top: 40px;
  }

  &--close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
  }

  &--start {
    border: none;
    padding: 18px 32px;
    border-radius: 10px;
    background-color: $main;
    margin-top: 40px;
    width: 142px;
    color: white;
    align-self: center;
    font-size: 20px;
    font-weight: 700px;

    &:disabled {
      border: 3px solid $light-gray;
      background: $white;
      color: $light-gray;
      font-weight: 700;
    }
  }
}
