<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>한다면</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="header__logo"><a href="./index.html">한다면</a></h1>
      </header>
      <main>
        <section class="section">
          <p class="section__slogan">오늘도 한다면 한다!<br />함께 한다면 취뽀 한다!!</p>
          <div class="interview-link">
            <a href="">
              <div class="title">면접 하러가기</div>
              <p class="description">기술면접만 준비하다가<br />인성면접에서 떨어지면 억울하잖아요?</p>
            </a>
          </div>
        </section>
        <article class="employment article">
          <h2 class="employment__title article__title">채용 정보</h2>
          <ul class="employment__list">
            <li class="employment__item img-card">
              <a href="#">
                <div class="img-container">
                  <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="company">(주)풀무원푸드앤컬처</div>
                  <div class="title">IT 서비스기획 및 인프라관리 담당</div>
                </div>
              </a>
            </li>
          </ul>
        </article>
        <article class="news article">
          <h2 class="news__title article__title">최신 뉴스</h2>
          <ul class="news__list">
            <li class="news__item img-card">
              <a href="#">
                <figure>
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg"
                    alt=""
                  />
                  <figcaption>삼성이 또 해냈다..!</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </article>
      </main>
    </div>
  </body>
</html>
