<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>한다면</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1 class="banner__title">한다면</h1>
        <div class="banner__content">
          <p class="banner__content--slogan">오늘도 한다면 한다!<br />함께 한다면 취뽀 한다!!🔥</p>
          <nav class="banner-nav">
            <a href="./setting.html" class="interview-link">
              <div class="interview-link__title">
                면접 하러가기
                <div class="interview-link__thumb">👍</div>
              </div>
              <p class="interview-link__description">기술면접만 준비하다가<br />인성면접에서 떨어지면 억울하잖아요?</p>
            </a>
            <a href="./customQuestion.html" class="customQuestion-link">
              <div class="customQuestion-link__title">면접 질문 작성하기</div>
            </a>
          </nav>
        </div>
      </div>
      <main>
        <article class="employment article">
          <h2 class="employment__title article__title">채용 정보</h2>
          <div class="iframe-wrapper">
            <iframe
              id="pageFrame"
              class="page-frame"
              name="pageFrame"
              src="http://www.jobkorea.co.kr/Starter/calendar/sub/week"
              frameborder="0"
              scrolling="auto"
              width="707px"
              height="280px"
            ></iframe>
          </div>
        </article>
        <article class="news article">
          <h2 class="news__title article__title">최신 뉴스</h2>
          <ul class="news__list">
            <li class="news__item">
              <div class="skeleton"></div>
            </li>
            <li class="news__item">
              <div class="skeleton"></div>
            </li>
            <li class="news__item">
              <div class="skeleton"></div>
            </li>
            <li class="news__item">
              <div class="skeleton"></div>
            </li>
            <li class="news__item">
              <div class="skeleton"></div>
            </li>
            <!-- <li class="news__item">
              <a href="${url}" target="_blank" rel="noopener noreferrer">
                <div class="img-wrapper">
                  <img src="${urlToImage}" alt="${title}" />
                </div>
                <p>${title}</p>
              </a>
            </li> -->
          </ul>
        </article>
      </main>
    </div>
  </body>
</html>
