<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <title>Document</title>
</head>

<body>
  <div class="main-wrapper">
    <audio></audio>
    <a href="/"><i class='bx bx-log-out log-out'></i></a>
    <h2 class="title">Frontend</h2>
    <div class="interview">

      <h3 class="interview__count"><span class="interview__count--current"></span> / <span
          class="interview__count--total"></span></h3>

      <div class="interview__cam">
        <video class="interview__cam-main" autoplay></video>
        <div class="interview__cam-description">자기소개</div>
      </div>

      <div class="interview__audio">
        <div class="interview__audio-icon">
          <div class="interview__audio-icon--active"></div>
        </div>
      </div>

      <div class="interview__timer">00:00</div>

      <div class="interview__buttons">
        <button class="interview-buttons__repeat button">다시 시작</button>
        <button class="interview-buttons__submit button">답변 제출</button>
      </div>

    </div>

    <div class="modal-outer hidden">
      <div class="modal">
        <button class="cancle"><i class="bx bx-x"></i></button>
        <h2 class="modal__title"></h2>
        <p class="modal__describtion"></p>
        <button class="modal__button modal__button--active" type="button"></button>
      </div>
    </div>


  </div>
</body>

</html>