<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/index.css" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
  <title>Interview report</title>
</head>

<body>
  <div class="main-wrapper">
    <i class="bx bx-log-out log-out"></i>
    <h2 class="title">면접 결과</h2>
    <div class="container report-container">
      <h2>Frontend 면접</h2>
      <div class="total-time">
        <h3>총 진행 시간</h3>
        <!-- 동적 -->
        <p class="total-time__min">24분</p>
      </div>
      <div class="average-time">
        <h3>문제 당 평균 진행 시간</h3>
        <!-- 동적 -->
        <p class="average-time__min">8분</p>
      </div>
      <div>
        <h3>녹음 기록</h3>
        <ul class="record-list">
          <!-- 동적 -->
          <div class="interview-question">
            <li class="record-list__no">
              <h4>1. 자기 소개 부탁드립니다.</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
          <div class="interview-question">
            <li class="record-list__no">
              <h4>2. 왜 저희 직무에 지원하셨나요?</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
          <div class="interview-question">
            <li class="record-list__no">
              <h4>3. 자신의 장단점을 말해주세요</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
          <div class="interview-question">
            <li class="record-list__no">
              <h4>4. 가비지 콜렉터에 대해서 말해보세요</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
          <div class="interview-question">
            <li class="record-list__no">
              <h4>5. this 바인딩에 대해서 설명해보세요</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
          <div class="interview-question">
            <li class="record-list__no">
              <h4>6. ES6에 추가된 문법을 설명해보세요</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
          <div class="interview-question">
            <li class="record-list__no">
              <h4>7. 문제에 직면했을때 어떻게 해결하시나요?</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
          <div class="interview-question">
            <li class="record-list__no">
              <h4>3. 자신의 장단점을 말해주세요</h4>
              <audio class="record-list__no--audio" controls>
                <!-- <source src="horse.ogg" type="audio/ogg" />
                  <source src="horse.mp3" type="audio/mpeg" /> -->
              </audio>
              <button class="download"></button>
            </li>
          </div>
        </ul>
      </div>
      <footer>
        <button class="scroll-up"></button>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <!-- <script type="module" src="../js/report.js"></script> -->
    <script src="../js/report.js"></script>
</body>

</html>