<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/index.css" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <div class="main-wrapper">
    <a href="/"><i class="bx bx-log-out log-out"></i></a>
    <h2 class="title">면접 설정</h2>
    <div class="container">
      <div class="interview-set">
        <div class="interview-set__up">
          <div class="interview-set__info">
            <div class="interview-set__info--category">
              <h3 class="interview-set__info--title first">면접 카테고리</h3>
              <select class="interview-set__info--category-select">
                <option value="">선택하기</option>
                <option value="personality">인성</option>
                <option value="situation">상황</option>
                <option value="frontend">Frontend</option>
                <option value="backend">Backend</option>
                <option value="custom">사용자 등록 질문</option>
              </select>
            </div>
            <div class="interview-set__info--count">
              <h3 class="interview-set__info--title">질문 개수</h3>
              <input class="interview-set__info--count-input" type="text" placeholder="질문 개수를 20개 이하로 입력해주세요." />
            </div>
            <div class="interview-set__info--time">
              <h3 class="interview-set__info--title">질문별 답변 시간</h3>
              <select class="interview-set__info--time-select">
                <option value="">선택하기</option>
                <option value="1">1분</option>
                <option value="2">2분</option>
                <option value="3">3분</option>
                <option value="5">5분</option>
                <option value="10">10분</option>
                <option value="15">15분</option>
              </select>
            </div>
          </div>
          <div class="permission-check">
            <h3 class="permission-check__title">카메라/마이크 권한 허용</h3>
            <span>모의 면접은 카메라와 오디오 기반으로 진행됩니다.</span>
            <span> 카메라, 마이크 권한을 허용해주세요.</span>
            <div class="permission-check__video">
              <video class="permission-check__video--cam" autoplay="false"></video>
            </div>
            <div class="permission-check__audio">
              <canvas class="permission-check__audio--visualization"></canvas>
            </div>
          </div>
        </div>
        <div class="interview-set__bottom">
          <div class="interview-start"><button class="interview-start__button" disabled>면접 시작하기</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-wrap close">
    <div class="modal-container">
      <span class="modal-container__counter">5</span>
      <h3 class="modal-container__title">모의 면접 안내</h3>
      <p class="modal-container__content">
        1. 면접이 시작되면 녹음이 자동으로 진행되며, 면접 종료 후 녹음된 내용을 확인하실 수 있습니다.
      </p>
      <p class="modal-container__content">
        2. 면접 시작 후 20초 이내에는 다시 시작 버튼을 눌러 타이머를 다시 시작할 수 있습니다.
      </p>
      <p class="modal-container__content">3. 답변 제출 버튼 클릭 시 다음 질문으로 이동합니다.</p>
      <div class="modal-container__guide">
      </div>
      <button class="modal-container__close close">X</button>
      <button class="modal-container__start" disabled>시작하기</button>
    </div>
  </div>
  </div>
</body>

</html>